 /* responsive at 1200px */
@media (max-width:1200px){
    .container{
        width: 90%;
        margin: 0 auto;
    }
}

 /* responsive at 990px */

@media (max-width:990px){
    .dark-button,
    .light-button{
        padding: 8px 24px;
    }
}

 /* responsive at 950px */
@media (max-width:950px){

     .header-container{
        justify-content: space-between;
     }

     /* navbar buttons  */
    .navbar-buttons{
        width: 300px;
        height: 100vh;
        background-color: #36a7e6;
        position: fixed;
        right: 0;
        top: 75px;
        justify-content: center;
        flex-direction: column;
        row-gap: 40px;
        transform: translatex(300px);
        transition: all .3s ease;
    }
    
    .navbar{
        justify-content: center;
    }

    .navbar ul{
        flex-direction: column;
        gap: 20px;
   
    }

   
    /* navbar hover  */
    .navbar ul li a,
    .navbar ul li a.active{
        background:none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 260px;
        height:40px; 
        border-radius: 5px;
        color: black;
        transition: all .3s ease;
    }
   
    .navbar ul li a:hover{
        background-color:#eaf7ff;
    }
    
 /* responsive menu button  */
    .responsive-menu-btn{
        display: flex;
        font-size: 20px;
    }

    .responsive-menu-btn > input{
        display: none;
    }
     /* input checked  */
    body:has(input#responsiveMenuBtn:checked) .navbar-buttons{
        transform: translateX(00px);
    }
}